@model  WebDemo.Models.RegistrationViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Registration", FormMethod.Post, new { id = "myform" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    @Html.Partial("_RegistrationBody", Model)
    
}

